@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

#hero_section{

   width: 100%;
   height: 100vh;

}

.nav_bar {

  width: 100%;
  height: 13vh;
  padding: 0.5rem 4rem;
  z-index: 1;

}

nav {

  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.menu_bar {

  display: none;
}


.logo_img img {

  width: 9rem;
  height: 10vh;
  object-fit: contain;

}

.nav_link ul {

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  list-style-type: none;

}

.nav_link ul li a {

  font-family: "Lato", sans-serif;
  font-size: 1.15em;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  color: #000;
  
}

.background_img {

  background: url(../Images/Image\ \(5\).png);
  width: 100%;
  height:87vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;

}
  
.background_text {
  
  position: absolute;
  background-color: #fff;
  width: 27rem;
  height: 19rem;
  border-radius: 0px 60px 60px 0px;
  top: 5rem;
  padding: 1.5rem 3rem;
}
  
.background_text h1 {

  font-family: "Lato", sans-serif;
  font-size: 3.25em;
  font-weight: 700;
  line-height: 1.5em;
}

.background_text p {

  margin-top: 20px;
  font-family: "Lato", sans-serif;
  font-size: 1.15em;
  font-weight: 400;
  line-height: 1.5em;

}


#future_section{

  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.future_content {

  width: 90%;
  height: 60%;
  display: flex;

}

.future_content .future_imgs, .future_content .future_text {

  flex: 50%;
}


.future_imgs {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.future_imgs img {

  width: 100%;
  height: 100%;
  object-fit: fill;
}

.future_text {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  background: #F2F0F2;
  border-radius: 0px 60px 60px 0px;

}

.future_text h1 {

  font-family: "Lato", sans-serif;
  font-size: 3em;
  font-weight: 700;
}

.future_text p {

  width: 76%;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 24px;
  margin-top: 1.5rem;

} 

#feature_section{

  width: 100%;
  height: 100vh;
  padding: 2rem 4rem;

}

.feature_text{

  text-align: center;

}

.feature_text h1 {

  font-family: "Lato", sans-serif;
  font-size: 3.2em;
  font-weight: 700;
  padding: 0rem 3rem;

}

.feature_text p {

  font-family: "Lato", sans-serif;
  font-size: 1.125em;
  font-weight: 400;
  padding: 2rem 9.5rem;
  line-height: 1.5em;

}

.feature_content {

  display: flex;
  justify-content: space-between;
  padding: 3rem 0rem;

}

.feature_content .feature{

  width: 17rem;
  height: 14rem;
  background-color:#E2F1E8;
  border-radius: 30px 30px;
  padding: 2rem 2rem;

}

.feature_content .feature h3 {

  padding-top: 1.25rem;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  
}

.feature_content .feature p {

  padding-top: 1.25rem;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 400;

} 

#location_section {
 
  width: 100%;
  height: 100vh;
  padding: 3rem 4rem;

}

.location_title h1 {

  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 3em;
  font-weight: 700;
}

.location_detail {

  padding-top: 5rem;
  display: flex;
  gap: 1rem;

}

.locations {

  width: 12rem;
  height: 16rem;

}

.location_text {
  width: 100%;
  height: 25%;

}

.location_img {

  width: 100%;
  height: 75%;
}

.location_text h1 {

  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;

}

.locations1 .location_text h1 {

  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;

}

.location_img img {

  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 20px 20px 20px 20px;
}

.button{

  height: 20%;
  display:flex;
  justify-content: center;
  align-items: center;
}


.button button{

  width: 12.5rem;
  height: 3rem;
  padding: 0.75rem 2.5rem;  
  border-radius: 40px 40px 40px 40px;
  background-color:#064749;
  color: #fff;

}

#partnership{

  width: 100%;
  height: 100vh;
}

.partnership_img {

  width: 100%;
  height: 100vh;
  background: url(../Images/nathan-fertig-FBXuXp57eM0-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

}

.partnership_content {

  width: 522px;
  height: 226px;
  position: absolute;
  top: 150px;
  left: 100px;

}

.partnership_content h1 {

  font-size: 3em;
  font-weight: 700;
  /* color: #fff; */
  padding-bottom: 1.5rem;
  
}

.partnership_content p {

  font-size: 1.125em;
  font-weight: 400;
  /* color: #fff; */
  line-height: 1.5rem;
  

}

.partnership_btn{

  padding-top: 3rem;
}

.partnership_btn button{

  width: 12.5rem;
  height: 3rem;
  padding: 0.75rem 2.5rem;  
  border-radius: 40px 40px 40px 40px;
  background-color:#064749;
  color: #fff;

}

#co_partnership {

  width: 100%;
  height: 100vh;
  padding: 4rem 4rem;

}

.cop_text h1 {

  text-align: center;
  font-size: 3rem;
  font-weight: 700;

}
.cop_text p {

  text-align: center;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 24px;
  padding: 2rem 12rem;

}

.cop_features {

  margin-top: 4rem;
  display: flex;
  gap: 2rem;

}

.feature_items {

  width:24.5rem;
  height: 13rem;
  background-color:#E2F1E8;
  border-radius: 30px 30px 30px 30px;
  padding: 2rem 2.5rem;

}

.feature_items h3 {

font-size: 1.5em;
font-weight: 700;
line-height: 32px;
padding: 1rem 0rem;

}

.feature_items p {

  font-weight: 400;
}

#testimonial_section {
  width: 100%;
  height: 100vh;
  padding: 3rem 0rem;

}

#testimonial_section header h1 {

  text-align: center;
  font-size: 3em;
  font-weight: 700;
  line-height: 54px;

}

#testimonial_section header p {

  text-align: center;
  font-size: 1.125em;
  font-weight: 400;
  margin-top: 2rem;

}

.test_container {

  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;

}

.test_details {

  width: 150%;
  margin-top: 3rem;
  display: flex;
  gap: 2rem;

}

.test_item {

  width: 44rem;
  height: 18rem;
  background-color: #F2F0F2;
  border-radius: 30px 30px 30px 30px;
  padding: 2rem 2.8rem;

}

.test_profile {

  display: flex;
  gap: 1rem

}

.test_img img {

  width: 5rem;
  height: 5rem;
  object-fit: contain;

}

.test_text h2 {

  font-weight: 700;
  padding-bottom: 1rem;

}

.test_text p {

  font-weight: 400;
}

.test_content {

  margin-top: 2rem;
}

.test_content P {

  font-weight: 400;
  line-height: 24px;
}

.test_btn {

  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.test_btn .btn1 {

  width: 3rem;
  height: 3rem;
  background: url(../Images/icon\ left.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  background-color: #064749;
  border-radius: 10px 10px 10px 10px;
  padding: 1rem 1rem;

}

.test_btn .btn2 {

  width: 3rem;
  height: 3rem;
  background: url(../Images/icon\ right.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-color: #064749;
  background-position: center;
  border-radius: 10px 10px 10px 10px;
  padding: 1rem 1rem;

}

#blog {

  width: 100%;
  height: 100vh;

}

#blog header h1 {

  font-size: 3em;
  font-weight: 700;
  text-align: center;
  padding: 2rem 0rem;

}

.blog_container {

  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  
}

.blog_items {

  width: 150%;
  display: flex;
  gap: 1rem;

}

.item{

  width: 21.5rem;
  height: 27.25rem;

}

.item_img {

  height: 13rem;

}

.item_img img {

  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 30px 30px 0px 0px;
}

.item_text {

  padding: 2rem 1rem;
  background-color: #F2F0F2;
  border-radius: 0px 0px 30px 30px;

}

.text1 h1, .text1_1 h1 {

  font-size: 1.8em;
  font-weight: 700;
  line-height: 2.75rem;

}

.text1 p {

  font-weight: 400;
  line-height: 1.25rem;

}

.text1_1 p {

  font-weight: 400;
  line-height: 1.25rem;
  padding-bottom: 1.2rem;

}


.text2 {

  width: 7rem;
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;

}

.text2 p {

  font-size: 1em;
  font-weight: 400;

}

.blog_btn {

  display:flex;
  justify-content: center;
  padding-top: 1rem;
}

.blog_btn button{

  width: 10rem;
  height: 3rem;
  padding: 0.75rem 2.5rem;  
  border-radius: 40px 40px 40px 40px;
  background-color:#064749;
  color: #fff;

}

#links {

  width: 100%;
  height: 60vh;
  padding: 4rem 4rem;
}

#links header h1 {

font-size: 3em;
font-weight: 700;
text-align: center;

}

.link_items {

  margin-top: 3rem;

}

.link_ul {

  display: grid;
  grid-template-columns: repeat(2 , 1fr);
}

.link_ul li {

  line-height: 1.5rem;
  list-style-type: none;
  line-height: 2rem;
}

.link_ul li a {

  font-size: 1.125em;
  color:#064749;

}

.link_ul li a i {

  padding-left: 1rem;

}

#dictum {
  width: 100%;
  height: 100vh;
  background: url(../Images/Image\ \(3\).png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.dictum_text {

  width: 25rem;
  height: 17rem;
  position: absolute;
  top: 25%;
  left: 35%;
  background-color: #fff;
  border-radius: 30px 30px 30px 30px ;
  padding: 2.75rem 2.75rem;
}

.dictum_text h1 {

font-size: 3rem;
font-weight: 700;
text-align: left;

}

.dictum_text p {

font-size: 1.125rem;
font-weight: 400;
text-align: left;
padding: 1rem 0rem;

}

.dictum_text select {

width: 13rem;
height: 2.5rem;
background-color: #064749;
border-radius: 20px 20px 20px 20px;
color: #fff;

}

.dictum_text > div {

  display: flex;
  justify-content: center;

}

#footer {

  width: 100%;
  height: 40vh;
  padding: 3rem 4rem;
  line-height: 2rem;

}

#footer footer {

  display: flex;
  justify-content: space-between;

}

.footer_small {

  display: none;

}

.footer_img {

  width: 6rem;
  height: 3rem;
  margin-bottom: 1rem;
}

.footer_img img {

  width: 6rem;
  height: 3rem;
  object-fit: fill;

}

.footer_text > div {

  display: flex;
  gap: 1rem;
  padding: 0.5rem 0rem;

}

.MID {

  display: flex;
  gap: 2rem;
  align-content: center;

}

.MID_list li {

  list-style: none;
  /* line-height: 2rem; */

}

.MID_list li.top, .LHS p.top {

  font-weight: 700;
}

.LHS input {

  width: 20rem;
  height: 2rem;
  border-radius: 6px 6px 6px 6px;
  background-color: #F2F0F2;

}

.LHS input::placeholder {

  padding-left: 2rem;

}

.LHS_btn {

  margin-top: 2rem;
}

.LHS_btn button{

  width: 12.5rem;
  height: 3rem;
  padding: 0.75rem 2.5rem;  
  border-radius: 40px 40px 40px 40px;
  background-color:#064749;
  color: #fff;

}

@media(max-width: 768px) {


  .background_text {
  
    width: 21rem;
    height: 18rem;
    top: 2rem;

  }
    
  .background_text h1 {
  
    font-size: 2.5em;

  }
  
  .background_text p {
  
    font-size: 1em;

  }
  
  .future_text h1 {

    font-size: 2em;
  }

  .future_text p {

    width: 85%;
  }

  #feature_section{

    height: auto;
    padding: 0rem 4rem;
  
  }

  .feature_text h1{

    padding: 0rem 1rem;
    font-size: 3rem;
  } 

  .feature_text p{

    padding: 2rem 2rem;
  }

  .feature_content {
    
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    padding: 0rem 0rem;
  }

  .feature_content .feature{

    width: 28rem;
  
  }

  #location_section {
 
    height: 100%;
  
  }

  .location_detail {

    width: 100%;
    padding-top: 2rem;
    flex-direction: column;
    align-items: center;
  
  }

  .locations {

    width: 16rem;
    height: 14rem;

  }

  .location_text {
  
    height: 15%;
  
  }
  
  .location_img {

    height: 85%;

  }

  .button{

    padding-top: 1.5rem;
  }

  #co_partnership {

    height: 100%;

  }

  .cop_text p {

    padding: 2rem 4rem;
  
  }

  .cop_features {

    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }

  #testimonial_section {

    height: 100%;
    padding: 0rem 0rem;
  
  }

  .test_details {

    flex-direction: column;
    align-items: center;
  
  }

  .test_item {

    width: 35rem;

  }

  #blog {

    height: 100%;
  
  }

  .blog_items {

    flex-direction: column;
    align-items: center;
  
  }

  .text1 h1, .text1_1 h1, .text1 p, .text1_1 p {

    text-align: center;
  
  }
  
  .text2 {

  width: 100%;
  justify-content: center;

  }

  #links {

  height: 100%;
  
  }

  .link_ul {

  grid-template-columns: repeat(1 , 1fr);

  }

  .dictum_text {

    left: 25%;
  }

  #footer {

  height: 100%;
  padding: 3rem 2rem;
  font-size: 0.75em;

  }

  .LHS input {

    width: 15rem;
  
  }

  .LHS_btn button{

    width: 10rem;
    height: 2rem;

  }

}

@media(max-width: 429px){

  .nav_bar {
    
    padding: 0.5rem 0.5rem;
    
  }

  .menu_bar {

    display: block;

  }

  .nav_bar1 {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .nav_link {

    display: none;

  }

  .nav_link.active {

    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 13vh;
    left: 0;

  }
  
  .nav_link ul {

    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding-left: 10px;
    padding-bottom: 10px;
  
  }

  .background_text {
  
    width: 20rem;
    height: 16rem;
    top: 6rem;
    padding: 1.5rem 2rem;
  }

  .background_text h1 {

    font-size: 2.5em;

  }
  
  .future_content {

    height: 80vh;
    flex-direction: column;
  
  }

  .future_text  {

    border-radius: 0px 0px 60px 60px;
  }

  .future_text p {

    text-align: center;
  }

  #feature_section{

    padding: 0rem 1.5rem;
  
  }

  .feature_text h1 {

    font-size: 2em;
    padding: 0rem 0rem;
  
  }
  
  .feature_text p {
  
    font-size: 1em;
    padding: 1rem 1rem;
  
  }

  .feature_content .feature {

    width: 23rem;
  }

  #location_section {

    padding: 2rem 1.5rem;
  }

  .location_title h1 {

    font-size: 2em;
  }

  .locations {

    width: 20rem;
    height: 15rem;
  }

  .partnership_content {

    width: 350px;
    height: 250px;
    top: 110px;
    left: 0px;

  }

  .partnership_content h1 {

    font-size: 2.5em;
    padding-bottom: 1rem;
    
  }
  
  .partnership_content p {
  
    font-size: 1em;
    line-height: 1.5rem;
   
  }

  .partnership_btn{
    
    padding-top: 2rem;

  }

  #co_partnership {

    padding: 2rem 1.5rem;
  
  }

  .cop_text h1 {

    font-size: 2rem;
  
  }
  .cop_text p {
  
    font-size: 1em;
    padding: 1rem 1rem;
  
  }

  .feature_items {

    width: 23rem;
  }

  #testimonial_section {

    padding: 0rem 1.5rem;
  }

  #testimonial_section header h1 {

    font-size: 2em;

  }

  #testimonial_section header p {

    font-size: 1em;
    margin-top: 1rem;

  }

  .test_details {

    margin-top: 2rem;
  
  }

  .test_item {

    width: 23rem;
    height: 21rem;
    padding: 2rem 2rem;

  }

  .test_content {

    margin-top: 1rem;
  }

  .test_btn {

    margin-top: 2rem;

  }

  #blog header h1 {

    font-size: 2em;
  }

  #links {

    padding: 2rem 2rem;

  }

  #links header h1 {

    font-size: 2em;
  }

  .link_ul li a {

    font-size: 1em;
  }

  .dictum_text {

    width: 22rem;
    top: 7%;
    left: 0%;
    padding: 2rem 2rem;
  }

  .dictum_text select {

    width: 16rem;
  }

  #footer {

    padding: 2rem 0rem;
  }
  
  footer {

    flex-direction: column;
    align-items: center;
  }

  .RHS .footer_img {

    display: flex;
    justify-content: center;

  }

  .footer_text {

    display: none;
  }

  .MID {

    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 1rem;

  }

  .MID_list ul {

    display: flex;
    gap: 2rem;
  }

  .LHS {

    text-align: center;
  }

  .LHS_btn {

    margin-top: 1rem;

  }

  .LHS_btn button{

    height: 3rem;

  }

  .footer_small {

    display: block;
    text-align: center;

  }

  .footer_small > div {

    display: flex;
    gap: 1rem;
    justify-content:center;
  
  }


}








